{
  "username": "{{ username }}",
  "enabled": "true",
  "firstName": "{{ first_name }}",
  "lastName": "{{ last_name }}",
  "email": "{{ email }}",
  "credentials": [
    {
      "type": "password",
      "value": "{{ password }}"
    }
  ],
  "clientRoles" : {
    "realm-management" : [ "user" ]
  }
}
