<div id="header">
  <div>
    <a href="/" class="logo"><img src="images/logo.png" alt=""></a>
    <ul id="navigation">
      <li class="{{#if activePage.home}} selected {{/if}}">
        <a href="/">Home</a>
      </li>
      <li class="{{#if activePage.product}} selected {{/if}}">
        <a href="/product">Products</a>
      </li>
      <li class="{{#if activePage.contact}} selected {{/if}}">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</div>
