*.class
*.tsv
*.swp
*~
~lock.*
~$*
.DS_Store
*.svn/
*.nogit/
LMSClass/
*.nogit/
*audio/
*.ini
*.classpath
*.project
*.settings/
.editorconfig
build.metadata
.metadata
**/target/
.camel/
lib/
/.metadata/
**/*.retry
.idea/
**/node_modules/

support/projects/**/plugins/**/
support/projects/module-2/cdc-image/plugins/**/*