<div id="body" class="home">
  <div class="header">
    <img src="images/bg-home.jpg" alt="">
    <div>
      <a href="/product">Place Order!</a>
    </div>
  </div>
  <div class="main">
    <div>
      <div>
        <h1>NEW FLAVOR</h1>
        <h2>The Twist of Spicy Marshmallow</h2>
        <p>This website template has been designed by freewebsitetemplates.com for you, for free. You can replace all this text with your own text.</p>
      </div>
      <img src="images/yogurt.jpg" alt="">
    </div>
  </div>
  <div class="footer">
    <div>
      <ul>
        <li>
          <a href="/product" class="product"></a>
          <h1>PRODUCTS</h1>
        </li>
        <li>
          <a href="/about" class="about"></a>
          <h1>OUR STORY</h1>
        </li>
        <li>
          <a href="/product" class="flavor"></a>
          <h1>FLAVORS</h1>
        </li>
        <li>
          <a href="/contact" class="contact"></a>
          <h1>OUR LOCATION</h1>
        </li>
      </ul>
    </div>
  </div>
</div>
