apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  labels:
    csc-owner-name: codeready-workspaces
    csc-owner-namespace: openshift-marketplace
  name: codeready-workspaces
  namespace: '{{ codeready_project }}'
spec:
  displayName: Red Hat Operators
  icon:
    base64data: ''
    mediatype: ''
  publisher: Red Hat
  sourceType: grpc
