apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: codeready-workspaces
  namespace: '{{ codeready_project }}'
spec:
  channel: latest
  installPlanApproval: Automatic
  name: codeready-workspaces
  source: codeready-workspaces
  sourceNamespace: codeready
