{
  "username": "{{ username }}",
  "enabled": "true",
  "firstName": "{{ username }}",
  "lastName": "DILII",
  "email": "{{ username }}@none.none",
  "credentials": [
    {
      "type": "password",
      "value": "openshift"
    }
  ],
  "clientRoles" : {
    "realm-management" : [ "user" ]
  }
}
