[local:vars]
ansible_connection=local

[local]
127.0.0.1

[workshop]
localhost ansible_connection=local

[workshop:vars]
usersno=3
che_version="7.9.0"
streams_version="1.3.0"
online_version="1.3.0"
webapp_version='2.19.4'
webapp_operator_release_tag='0.0.36'
fuse_version='7.5.0'
camelk_version='1.0.0-rc1'