apiVersion: operators.coreos.com/v1
kind: CatalogSourceConfig
metadata:
  name: messaging-online
  namespace: openshift-marketplace
spec:
  csDisplayName: Red Hat Operators
  csPublisher: Red Hat
  packages: amq-online
  targetNamespace: '{{ operators_project }}'