apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app: enmasse
  name: enmasse.io:configmap-finalizer
rules:
  - apiGroups: [ "" ]
    resources: [ "configmaps/finalizers" ]
    verbs: [ "create", "update", "patch", "get", "list", "watch", "delete" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "configmap-finalizer"
  labels:
    app: enmasse
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: enmasse.io:configmap-finalizer
subjects:
- kind: Group
  name: 'system:serviceaccounts:{{operators_project}}'